.col{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  flex-direction: column;
}
.col .box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  width: 300px;
  height: 100px;
  border: 1px solid lightskyblue;
}
.col .box button{
  padding: 10px;
  background-color: lightskyblue;
  color: white;
  outline: none;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: .5s;
  box-shadow: 0 6px 0 deepskyblue;
}